stages:
  - check
  - doc
  - build
  - deploy
  - notify

cppcheck:
  stage: check
  tags:
    - per_runner
  only: # TAG和提交MR时触发检查
    - tags
    - merge_requests
  script:
    - echo "cppcheck"
    - mkdir -p cppcheck_report
    - cppcheck --enable=warning,performance,portability --xml --xml-version=2 --output-file=cppcheck_report/cppcheck-report.xml ./trunk_perception/
    - python3 scripts/send_feishu_cppcheck_result.py --xml_file=cppcheck_report/cppcheck-report.xml
  artifacts:
    paths:
      - cppcheck_report
    expire_in: 1 week
  allow_failure: true

doxygen:
  stage: doc
  tags:
    - per_runner
  only:
    - tags
  script:
    - echo "docygen"
    - doxygen Doxyfile
    - rm -rf /home/tomcat/port-perception-jenkins/* && mv doxygen/* /home/tomcat/port-perception-jenkins/
  allow_failure: true


amd64_1804_build:
  stage: build
  image: 192.168.3.248:8081/docker/trunk/port:18.04_amd64_tensorrt8531_cuda114
  tags:
    - trunkport_x86_3060
  only:
    - tags
    - merge_requests
  script:
    - echo "amd64_1804_build"
    - export CUDA_HOME=/usr/local/cuda
    - export PATH=$PATH:$CUDA_HOME/bin
    - export LD_LIBRARY_PATH=/usr/local/cuda/lib64:${LD_LIBRARY_PATH}
    - export LD_LIBRARY_PATH=/usr/local/lib:${LD_LIBRARY_PATH}
    - export LD_LIBRARY_PATH=/usr/lib/aarch64-linux-gnu/:${LD_LIBRARY_PATH}
    - export TensorRT_DIR=/usr/local/tensorrt
    - export TENSORRT_LIBRARY_INFER=${TensorRT_DIR}/targets/x86_64-linux-gnu/lib/libnvinfer.so.8
    - export LD_LIBRARY_PATH=${TensorRT_DIR}/targets/x86_64-linux-gnu/lib:${LD_LIBRARY_PATH}
    - export TENSORRT_LIBRARY_INFER_PLUGIN=${TensorRT_DIR}/targets/x86_64-linux-gnu/lib/libnvinfer_plugin.so.8
    - export TENSORRT_LIBRARY_INFER_MYELIN=${TensorRT_DIR}/targets/x86_64-linux-gnu/lib/libmyelin.so
    - export CMAKE_PREFIX_PATH=$CMAKE_PREFIX_PATH:/opt/trunk_vision
    - export CMAKE_PREFIX_PATH=$CMAKE_PREFIX_PATH:/opt/lidar_net_sdk
    - export LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:/opt/trunk_vision/lib
    - export LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:/opt/lidar_net_sdk/lib
    - apt update
    - apt install jq -y
    - bash scripts/install_dep.sh
    - mkdir -p build && cd build
    - cmake -DCMAKE_INSTALL_PREFIX=/opt/trunk_master -DCMAKE_BUILD_TYPE=Release ..
    - make -j${nproc}
    - make package
  artifacts:
    name: trunk_perception_${CI_COMMIT_SHORT_SHA}_amd64_1804
    paths:
      - build/packages/*.deb
    expire_in: 1 day
    when: on_success
  allow_failure: false

amd64_1804_deploy:
  stage: deploy
  image: 192.168.3.248:8081/docker/trunk/port:18.04_amd64_tensorrt8531_cuda114
  tags:
    - trunkport_x86_3060
  only:
    - tags
  needs: ["amd64_1804_build"]
  dependencies:
    - amd64_1804_build
  script:
    - echo "amd64_1804_deploy"
    - cd $CI_PROJECT_DIR/build
    - old_file_name=`ls packages/*.deb`
    - distribution_name=`lsb_release -cs`
    - ls packages/* |sed s/amd64.deb/amd64_${distribution_name}.deb/ | xargs mv $old_file_name
    - new_file_name=`ls packages/`
    - echo $new_file_name
    - curl -u$JFROG_USER:$JFROG_PASSWORD -XPUT
      "http://192.168.3.248:8081/artifactory/infra/pool/main/trunk_perception/${new_file_name};deb.distribution=${distribution_name};deb.component=main;deb.architecture=amd64"
      -T ./packages/$new_file_name

arm64_trunk_orin_build:
  stage: build
  image: 192.168.3.248:8081/docker/trunk/pilot:nvidia_r35.4.1_arm64
  tags:
    - trunk_orin
    - exe_docker
  only:
    - tags
    - merge_requests
  script:
    - echo "arm64_trunk_orin_build"
    - export CMAKE_PREFIX_PATH=$CMAKE_PREFIX_PATH:/opt/trunk_vision
    - export CMAKE_PREFIX_PATH=$CMAKE_PREFIX_PATH:/opt/lidar_net_sdk
    - export LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:/opt/trunk_vision/lib
    - export LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:/opt/lidar_net_sdk/lib
    - apt update
    - apt install jq -y
    - bash scripts/install_dep.sh
    - mkdir -p build && cd build
    - cmake -DCMAKE_INSTALL_PREFIX=/opt/trunk_master -DCMAKE_BUILD_TYPE=Release ..
    - make -j${nproc}
    - make package
  artifacts:
    name: trunk_perception_${CI_COMMIT_SHORT_SHA}_arm64_trunk_orin
    paths:
      - build/packages/*.deb
    expire_in: 1 day
    when: on_success
  allow_failure: false


arm64_trunk_orin_deploy:
  stage: deploy
  image: 192.168.3.248:8081/docker/trunk/pilot:nvidia_r35.4.1_arm64
  tags:
    - trunk_orin
    - exe_docker
  only:
    - tags
  needs: ["arm64_trunk_orin_build"]
  dependencies:
    - arm64_trunk_orin_build
  script:
    - cd $CI_PROJECT_DIR/build
    - echo "arm64_trunk_orin_deploy"
    - old_file_name=`ls packages/*.deb`
    - distribution_name=`lsb_release -cs`
    - ls packages/* |sed s/arm64.deb/arm64_${distribution_name}.deb/ | xargs mv $old_file_name
    - new_file_name=`ls packages/`
    - echo $new_file_name
    - curl -u$JFROG_USER:$JFROG_PASSWORD -XPUT
      "http://192.168.3.248:8081/artifactory/infra-ports/pool/main/trunk_perception/${new_file_name};deb.distribution=${distribution_name};deb.component=trunk_orin;deb.architecture=arm64;"
      -T ./packages/$new_file_name

feishu_notify_success:
  stage: notify
  tags:
    - per_runner
  only:
    - tags
    - merge_requests
  script:
    - echo "feishu_notify"
    - python3 scripts/send_feishu_pipeline_status.py --pipeline_status=success
  allow_failure: true
  when: on_success

feishu_notify_failed:
  stage: notify
  tags:
    - per_runner
  only:
    - tags
    - merge_requests
  script:
    - echo "feishu_notify"
    - python3 scripts/send_feishu_pipeline_status.py --pipeline_status=failed
  allow_failure: true
  when: on_failure

